@{
    ViewBag.Title = "MynaQuote - Recent";
}

<div class="container-fluid">
    <div class="row">
        <m-quote class="col-xs-12 col-sm-6 col-md-3" data-modified-on="2015-5-3" data-author="chuck" data-archived="true" data-faved="false">
            this is my awesome quote that is going to blow your mind over and over and again!
        </m-quote>
        <m-quote class="col-xs-12 col-sm-6 col-md-3" data-modified-on="2015-5-3" data-author="chuck" data-archived="true" data-faved="false">
            this is my awesome quote that is going to blow your mind over and over and again!
        </m-quote>
        <m-quote class="col-xs-12 col-sm-6 col-md-3" data-modified-on="2015-5-3" data-author="chuck" data-archived="true" data-faved="false">
            this is my awesome quote that is going to blow your mind over and over and again!
        </m-quote>
    </div>
</div>




