@{
    ViewBag.BustVersion = 1;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
<!--need to pull in normalize.css and font awesome-->
    <link href="/css/normalize.css" rel="stylesheet" />
    <style type="riot"></style>
    
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
</head>
<body>
    @RenderBody()
    <m-modal-curtain></m-modal-curtain>

    <script>
        //System.trace = true;
        System.import("/app/main.js");
    </script>
</body>
</html>
