<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="riot"></style>
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>
    <script>

        System.trace = true;
        System.import("/app/main.js");
        //System.import("/reactjs/main"); // the path "/reactjs/main" won't work!!!

    </script>
</head>
<body>
<main-nav></main-nav>
<m-quote data-modified-on="2015-5-3" data-author="chuck" data-archived="true" data-faved="false">
    this is my awesome quote that is going to blow your mind over and over and again!    
</m-quote>
<div>
    @RenderBody()
</div>
</body>
</html>
