<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>
    <script>
        //System.import("/app/main.js");
        System.import("/reactjs/main"); // the path "/reactjs/main" won't work!!!

    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
