@{
    ViewBag.BustVersion = 1;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
<!--need to pull in normalize.css and font awesome-->
    <link href="/css/normalize.css" rel="stylesheet" />
    <style type="riot"></style>
    <link rel="stylesheet" href="/fonts/comic-neue-2.3/Web/font.css" />

    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>


</head>
<body>
    @RenderBody()
    
    <script>
        //System.trace = true;
        System.import("/app/main.js");

        
    </script>
</body>
</html>
