<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="riot"></style>
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>
    <script>

        // System.trace = true;
        //System.import("/reactjs/main"); // the path "/reactjs/main" won't work!!!

    </script>
</head>
<body>

<main-nav></main-nav>

<div>
    @RenderBody()
    
</div>
<script>
    System.import("/app/main.js");

</script>
</body>
</html>
