@{
    ViewBag.BustVersion = 1;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
<!--need to pull in normalize.css and font awesome-->
    <style type="riot"></style>
    
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
</head>
<body>

    <main-nav></main-nav>

    <div>
        @RenderBody()

    </div>
    <script>
        //System.trace = true;
        System.import("/app/main.js");
    </script>
</body>
</html>
