html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.6rem;
}

i.fa {
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 1.6rem;
  vertical-align: middle;
}

i.fa.active {
  color: goldenrod;
}

button {
  border-radius: 3px;
  padding: .6rem 1rem;

}